[Desktop Entry]
Name=Tandem
Comment=User-first chat platform. 
Exec=tandem-desktop
Terminal=false
Type=Application
Icon=tandem-desktop
Categories=Network;InstantMessaging
StartupWMClass=TandemDesktop
